body {
    background-color: aquamarine;
    display : inline;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}
#mainhead {
    color: azure;
    font-size: 5.5rem;
}
.foodcategory h3{
  font-size : 2rem;
}
.foodcategory input {
    background: #0555b0;
    color : #fff;
    width : 6rem;
    height: 3rem;
    border : 2px solid #0555b0;
    font-size : 0.9rem;
    border-radius: 4px;
    margin-bottom : 3px;
}
.my_location input {
  background: #eb0cbe;
  color : #fff;
  border : 2px solid #eb0cbe;
  border-radius: 4px;
}
